<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CompareVersion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70B3B4AF1E01A15800C503A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70B3B4C31E01A15800C503A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70B3B4CE1E01A15800C503A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
