<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UNNotificationSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>703DF7271DFD7EE7006BFD7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>703DF73B1DFD7EE8006BFD7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>703DF7461DFD7EE8006BFD7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
